script(type='text/javascript', src='/lib/jquery/jquery.js')

//Bootstrap
script(type='text/javascript', src='/lib/bootstrap-assets/js/bootstrap.js')

//AngularJS
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route/route.js')

//Application Init
script(type='text/javascript', src='/scripts/app.js')
script(type='text/javascript', src='/scripts/config.js')
script(type='text/javascript', src='/scripts/directives.js')
script(type='text/javascript', src='/scripts/filters.js')

//Application Services
script(type='text/javascript', src='/scripts/services/global.js')
script(type='text/javascript', src='/scripts/services/articles.js')

//Application Controllers
script(type='text/javascript', src='/scripts/controllers/articles.js')
script(type='text/javascript', src='/scripts/controllers/index.js')
script(type='text/javascript', src='/scripts/controllers/header.js')
script(type='text/javascript', src='/scripts/init.js')

//Livereload script rendered
script(type='text/javascript', src='http://localhost:35729/livereload.js')
