<div class="header row" data-ng-controller="HeaderController">
    <div class="columns small-12">
      <h1>Ideation Road</h1>
        <a class="logo" href="/"><img src="../images/logos/ideation-road_white_logo.png"></a>
    </div>
    <ul class="nav columns small-12">

        <li data-ng-repeat="item in menu" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
            <a href="#!/{{item.link}}">{{item.title}}</a>
        </li>
    </ul>
  <div class="headline columns small-12">
    <h2>{{headerContent.h2}} <span>{{headerContent.span}}</span></h2>
    <p>{{headerContent.p}}</p>
    <a ng-if="headerLink" class="button" href="{{headerContent.a.href}}">{{headerContent.a.text}}</a>
  </div>
</div>