$default-border-radius: 8px;

// COLORS - Backgorund
$color-bg-base: #ededed; // base background color for site
$color-bg-header: #0094ad; // background for bars like the promo / newsletter bar
$color-bg-footer: #252525; // background for footer
$color-bg-inputs: $color-bg-base;
$color-bg-article: #ffffff;
$color-bg-stripe: #fca049;

// COLOR - TEXT
$color-text-base: #5d5d5d;
$color-title: #ffffff; // news titles etx
$color-text-content: $color-text-base; // text main
$color-text-footer: $color-title;
$color-text-footer-nav: $color-title;
$color-text-input: #a7a7a7;
$color-text-article: #8b8b8b;
$color-text-list: #a4a4a4;


// COLOR - LINKS
$color-links: #fca049; // orange links in main content
$color-links-hover: #cc833f; // orange dark links hover in main content
$color-links-bright: #3fc5a4; // green
$color-links-bright-hover: #2e9e85; //green dark

//COLORS - borders
$color-border-nav: $color-title;

//COLORS - controls

// BACKGROUND IMAGES
$image-header-noise: url("../images/backgrounds/header_noise.png");
$image-header-illus: url("../images/backgrounds/header_illus.png");

// ELEMENT - sticky nav

// ELEMENT - social icons
$social-networks: facebook, twitter, youtube, itunes;

// BREAKPOINTS
$breakpoint-600-size: emCalc(600);
$breakpoint-600: "only screen and (min-width: #{$breakpoint-600-size})";
$breakpoint-800-size: emCalc(800);
$breakpoint-800: "only screen and (min-width: #{$breakpoint-800-size})";
$breakpoint-900-size: emCalc(900);
$breakpoint-900: "only screen and (min-width: #{$breakpoint-900-size})";
$breakpoint-1000-size: emCalc(1000);
$breakpoint-1000: "only screen and (min-width: #{$breakpoint-1000-size})";
$breakpoint-1220-size: emCalc(1220);
$breakpoint-1220: "only screen and (min-width: #{$breakpoint-1220-size})";

 // Fonts
 //RALEWAY
@include font-face ("Raleway Regular", font-files("raleway/raleway-regular-webfont.woff","raleway/raleway-regular-webfont.ttf","raleway/raleway-regular-webfont.svg#ralewaybold","raleway/raleway-regular-webfont.eot"),"raleway/raleway-regular-webfont.eot?#iefix",normal,normal);
@include font-face ("Raleway Extra Light", font-files("raleway/raleway-extralight-webfont.woff","raleway/raleway-extralight-webfont.ttf","raleway/raleway-extralight-webfont.svg#ralewaybold","raleway/raleway-extralight-webfont.eot"),"raleway/raleway-extralight-webfont.eot?#iefix",normal,normal);
@include font-face ("Raleway Light", font-files("raleway/raleway-light-webfont.woff","raleway/raleway-light-webfont.ttf","raleway/raleway-light-webfont.svg#ralewaybold","raleway/raleway-light-webfont.eot"),"raleway/raleway-light-webfont.eot?#iefix",normal,normal);
@include font-face ("Raleway Thin", font-files("raleway/raleway-thin-webfont.woff","raleway/raleway-thin-webfont.ttf","raleway/raleway-thin-webfont.svg#ralewaybold","raleway/raleway-thin-webfont.eot"),"raleway/raleway-thin-webfont.eot?#iefix",normal,normal);
@include font-face ("Raleway Medium", font-files("raleway/raleway-medium-webfont.woff","raleway/raleway-medium-webfont.ttf","raleway/raleway-medium-webfont.svg#ralewaybold","raleway/raleway-medium-webfont.eot"),"raleway/raleway-medium-webfont.eot?#iefix",normal,normal);
@include font-face ("Raleway Semi Bold", font-files("raleway/raleway-semibold-webfont.woff","raleway/raleway-semibold-webfont.ttf","raleway/raleway-semibold-webfont.svg#ralewaybold","raleway/raleway-semibold-webfont.eot"),"raleway/raleway-semibold-webfont.eot?#iefix",normal,normal);
@include font-face ("Raleway Bold", font-files("raleway/raleway-bold-webfont.woff","raleway/raleway-bold-webfont.ttf","raleway/raleway-bold-webfont.svg#ralewaybold","raleway/raleway-bold-webfont.eot"),"raleway/raleway-bold-webfont.eot?#iefix",bold,normal);
@include font-face ("Raleway Heavy", font-files("raleway/raleway-heavy-webfont.woff","raleway/raleway-heavy-webfont.ttf","raleway/raleway-heavy-webfont.svg#ralewaybold","raleway/raleway-heavy-webfont.eot"),"raleway/raleway-heavy-webfont.eot?#iefix",normal,normal);
@include font-face ("Raleway Extra Bold", font-files("raleway/raleway-extrabold-webfont.woff","raleway/raleway-extrabold-webfont.ttf","raleway/raleway-extrabold-webfont.svg#ralewaybold","raleway/raleway-extrabold-webfont.eot"),"raleway/raleway-extrabold-webfont.eot?#iefix",normal,normal);

 //AIR CONDITIONER
@include font-face ("Air Conditioner Regular", font-files("airconditioner/airconditioner-webfont.woff","airconditioner/airconditioner-webfont.ttf","airconditioner/airconditioner-webfont.svg#ralewaybold","airconditioner/airconditioner-webfont.eot"),"airconditioner/airconditioner-webfont.eot?#iefix",normal,normal);


$font-header: 'Raleway Bold', arial, sans-serif;
$font-alt-header: 'Air Conditioner Regular', arial, sans-serif;
$font-base: 'Raleway Medium', arial, sans-serif;
$font-semi-bold: 'Raleway Semi Bold', arial, sans-serif;
$font-bold: 'Raleway Bold', arial, sans-serif;
$font-thin: 'Raleway Thin', arial, sans-serif;
$font-light: 'Raleway Light', arial, sans-serif;
$font-extrabold: 'Raleway ExtraBold', arial, sans-serif;
