<section class="about" data-ng-controller="AboutController">
  <div class="page-title">
    <h2>About</h2>
    <div class="arrow-down">
      <img src="images/icons/arrow_orange_down.png">
    </div>
  </div>
  <div class="bg-medium">
    <div class ="row first">
      <div class="columns small-6">
        <h3 class="row-header">About Ideation Road</h3>

        <h4>Ideation Road is for the business owners, managers, and team leaders who know delivering an exceptional customer experience shouldn’t be this difficult, but don’t know how to make it easier.</h4>

        <p>We make it easier. We help you bring order to the chaos so that you can begin to truly delight your existing customers and leverage those satisfied customers to win more.</p>

        <p>Instead of “tips and tricks,” we provide a holistic approach to your customer experience that helps you determine the best way to meet your customer’s needs. We approach your customer experience as a process and help you create a system of continuous improvement.</p>
      </div>
      <div class="columns small-6 centered-image">
        <img src="images/logos/ideation-road_logo_med.png">
      </div>
    </div>
  </div>
  <div class="bg-light">
    <div class ="row last">
      <div class="image-container">
        <img src="images/icons/notebook_tall.png">
      </div>
      <div class="columns small-offset-6 small-6">
        <h2 class="row-header">About Karina</h2>
        <p>Karina combines several years of experience in customer communication with practical knowledge of setting up business workflows to satisfy those customers. She focuses on creating order out of chaos in each situation.</p>
        <div class="callout bg-medium">
          <p>Her work in streamlining operations has led to substantially increased revenues and customer satisfaction. A few highlights at various companies:</p>
          <ul class="dash">
            <li>Created an innovative and easy-to-follow plan to delight the customer to be rolled out nationally</li>
            <li>Doubled earned revenues in one month</li>
            <li>Designed a plan to save money on high-cost employee hours and simultaneously decrease customer response time</li>
          </ul>
        </div>

        <p class="personal">Karina lives in Portland, Oregon and enjoys hiking and backpacking.</p>
      </div>
    </div>
  </div>
</section>