<section class="services" data-ng-controller="ServicesController">
  <div class="page-title">
    <h2>Services</h2>
    <div class="arrow-down">
      <img src="images/icons/arrow_orange_down.png">
    </div>
  </div>
  <div class="bg-medium">
    <div class ="row first">
      <div class="columns small-10">
        <h3 class="row-header">Turning your customers into huge fans</h3>
        <p>We help you create order out of chaos and delight your customers in numerous ways. As we work together, you will develop processes that allow you to consistently deliver for your customers. You get a delighted customer base that keeps growing through the best marketing of all: <strong>word of mouth.</strong></p>
        <ul class="horizontal customer-progression">
          <li class="first">
            <p>Exceptional<br/>Customer Experience</p>
            <img src="images/icons/arrow_long_dark_green.svg">
          </li>
          <li>
            <p>Huge Fans</p>
            <img src="images/icons/arrow_long_dark_green.svg">
          </li>
          <li class="last">
            <p>Referals</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bg-light">
    <div class ="row second">
      <div class="columns small-12">
        <h3 class="row-header">Our solutions help you manage the three key components of an exceptional customer experience:</h3>
        <ul>
          <li class ="first">
            <h4>Communication</h4>
            <img src="images/icons/arrow_long_dark_orange.svg">
            <p>Clearly explain what you will do, what you are doing, and what you did.</p>
          </li>
          <li class ="second">
            <h4>Solutions</h4>
            <img src="images/icons/arrow_long_dark_orange.svg">
            <p>Solve their problems, not just their symptoms.</p>
          </li>
          <li class ="last">
            <h4>Delivery</h4>
            <img src="images/icons/arrow_long_dark_orange.svg">
            <p>Do what you say you will do, when you say you will do it.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bg-medium">
    <div class ="row last">
      <div class="columns small-12">
        <h3 class="row-header">Your company is unique. You face unique problems and challenges. We can help you design the right solution for your business that meets your needs as well as the needs of your customers.</h3>
      </div>
      <div class="columns small-5">
        <div class="customer-progress">
          <h5>Key customer processes we address</h5>
          <ul>
            <li>Implementation/Set Up/Onboarding</li>
            <li>Customer Communication
              <ul class="dash">
                <li>Project-based</li>
                <li>Ongoing</li>
              </ul>
            </li>
            <li>Schedule Planning and Visibility</li>
            <li>Invoicing/Billing/Collections</li>
            <li>Software Usage</li>
          </ul>
        </div>
      </div>
      <div class="columns small-7">
        <div class="approach">
          <h4>Our Approach</h4>
          <h5>We offer individual and group coaching, training, and consulting services.</h5>
          <p>We partner with businesses for long projects or help them address specific challenges in short projects. We strive for a collaborative approach, where we help you make the best decisions for your company and your specific situation. As a first step, we always listen to your needs and your circumstances.</p>
          <p>Our approach means that the solutions we develop together are not just one-time. We help you build a system to continually delight your customers, which can be carried with you as your company grows and changes.</p>
          <p>When you partner with Ideation Road to help you deliver on your customer processes, you gain experience and knowledge that will benefit your company in dollars and reputation for years to come.</p>
          <div class="contact-us">
            <p>Are you ready to take your customer relationships to the next level?</p>
            <a href="/contact">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>