/*
 * @file
 * _base.scss
 *
 * Base generic element styles
 * http://smacss.com/book/type-base
 */

h1,h2,h3,h4,h5,h6{
  font-weight:normal;
  font-family:$font-header;
  letter-spacing:1px;
}

body {
	//@include background(image-url("site-bg.jpg"));
	background-color: $color-bg-base;
  color: $color-text-base;
  font-family: $font-base;
  form {
    margin: 0;
    padding: 0;
	}
}

input {
  @include border-radius($default-border-radius);
	background-color: $color-bg-inputs;
	color: $color-text-input;
	border: 1px solid $color-text-base;
	font-size: emCalc(12px);
	font-family: $font-light;
	padding: 10px 18px;
}

p{
  line-height:1.5em;
  font-size:14px;
  font-family:$font-light;
}

a, a.link, a.visited {
    color: $color-links;
    text-decoration: none;
    &:hover {
		color: $color-links-hover;
    }
}
strong,b {
  font-family:$font-bold;
}

ul {
	list-style-type: none;
  padding:0;
  &.horizontal{
    @include horizontal-list;
  }
}

.bg-light{
  background:$color-bg-article;
}
.bg-medium{
  background:$color-bg-base;
}
